<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778502983508-t6osbvm5n3tqf0qg6u36a1g674qhh2q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778502983508-t6osbvm5n3tqf0qg6u36a1g674qhh2q7</string>
	<key>API_KEY</key>
	<string>AIzaSyCapvbOjBbiGOP8J3csptotbTyPI2IDZsI</string>
	<key>GCM_SENDER_ID</key>
	<string>778502983508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Amy.Renew</string>
	<key>PROJECT_ID</key>
	<string>renew-9c250</string>
	<key>STORAGE_BUCKET</key>
	<string>renew-9c250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778502983508:ios:581030833a0a0319b502c1</string>
	<key>DATABASE_URL</key>
	<string>https://renew-9c250.firebaseio.com</string>
</dict>
</plist>